[Unit]
Description=Local Map Server

[Service]
ExecStart=/usr/bin/node @@BASEDIR@@/src/main.js @@BASEDIR@@/@@MAP@@ --port=@@PORT@@
WorkingDirectory=@@BASEDIR@@
Restart=always
RestartSec=10s
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target